@import "compass";
@import "theme_variables";


.header_user_info{
	.header_info{
		@include rtl-margin-right(15px);
		line-height: 38px;
	}
	.popup-title{
	  	display: none;
	}
}
#topbar{
	.header_user_info{
		li{
			display: block;
			a{
				padding: 0px;
				margin: 0px;
			}
		}
	}
}
@media (min-width: 991px) { 
	#topbar{
		.header_user_info{
			li{
				display: inline-block;
				@include rtl-margin-left(15px);
			}
		}
	}
}